@charset "utf-8";

body{
background-color: gray;
color: rgba(255, 255, 255, 0.753);
background-attachment: fixed;


}

h1{
    background-color: rgba(0, 0, 0, 0.315)
}
h2{background-color: rgba(0, 0, 0, 0.315);}
#principal{
background-color: rgba(0, 0, 0, 0.651);
color: rgba(255, 255, 255, 0.836);
    font-weight: bolder;
    text-align: center;
}
.texto {
    background-color: white;
color: black;
text-align: justify;
}
main{
    width:600px ;
    margin: auto;
    padding: 10px;
    ;
}