body{
    background-color: #233eff;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    background-image: url( ../imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}
