
@charset "utf-8";

@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format(opentype)
    ;
    font-weight: normal
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px
}
:root{

--cor-0:#A9C2AC ;
--cor-1:#AEDFB9;
--cor-02:#84B58D;
--cor-03:#8BF09F ;
--cor-04:#268235;

--fonte-padrao: arial,verdana,helvetica,sans-serif;

--fonte-destaque:bebas neue, cursive;

--fonte-especial:idroid, cursive;

}

body{
    background-color: var(--cor-0);
    font-family: var(--fonte-padrao);
    line-height: 1.5em;
    
    
}
header{
    background-image: linear-gradient(to bottom , var(--cor-04 ), var(--cor-03));
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgba(78, 78, 78, 0.349);
}
nav{
    background-color: var(--cor-03 ); 
    text-shadow: 2px 2px 0px rgba(78, 78, 78, 0.349);
    
}
nav > a{
    color: white;
}
header > h1{
    color: rgb(255, 255, 255);
    

}
main{
   min-width: 400px;
   max-width: 800px; 
   margin: auto;
}
article{
    background-color: white;
}
p{
    text-indent: 10px;
}
