@charset "utf-8";
/* CSS Document */
button{
    display: none;
}
menu ul , li{
    display: inline-block;
}
menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100px;
    background:none;
    background-color: gray;
    text-transform: capitalize;
}
menu a:hover{
    background-color: darkgray;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}