body,html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c7c7c7;
    box-sizing: border-box;
}

#conteiner{
    display: flex;
    background-color: rgb(230, 91, 91);
    align-items: center;
    flex-flow: row nowrap;
    height: 50px;
    padding: 5px;
}
.child{
    background-color: #08cc9b;
    border: 1px solid #000000;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    text-align: center;}
  
 #i1{
  flex: 0 1 150px;
}
#i2{
flex: 1 0 150px;
}
#i3{
flex: 0 1 150px;

    
}
