body,html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c7c7c7;
    box-sizing: border-box;
}

#conteiner{
    display: flex;
    background-color: rgb(230, 91, 91);
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 500px;
    align-items: flex-start;
}
.child{
    background-color: #08cc9b;
    border: 1px solid #000000;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    text-align: center;
    align-content: center;
    align-self: flex-end;
    flex-basis: 50px;

}

#a{
    align-self: flex-end;
}
#b{
   align-self: flex-start; 
}
#c{
   align-self: auto; 
}
#d{
    align-self: stretch;
}
#e{
    align-self: center;
}